<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.1 Transitional//EN">
<html>
  <head>
    <title>Bewerbungshomepage Anna Enns</title>
    <meta name="AUTHOR" content="Anna Enns">
    <meta name="COPYRIGHT" content="Copyright (c) 2024 by Anna Enns">
    <meta name="ROBOTS" content="INDEX, FOLLOW">
    <meta name="DESCRIPTION" content="Dies ist die Bewerbungshomepage von Anna Enns">
    <meta name ="KEYWORDS" content ="Bewerbungshomepage, Anna Enns, Bewerbung">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />
    <!-- import the webpage's javascript file -->
    <script src="/script.js" defer></script>
    <!-- import the googles fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    
    <!-- Einbindung der Javascript-Bibliothek JQUERY von GOOGLE -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  </head>
  <!-- Load the element definition for markdown-->
     <script type="module" src="https://cdn.jsdelivr.net/gh/zerodevx/zero-md@2/dist/zero-md.min.js"></script>


  <body onload="setTimeout(function() {setActiveMenu('#main_menu_item_home');}, 1000);">
  <div id="kopfbereich"></div><!-- Ende kopfbereich -->
  
  <div id="navibereich"></div><!-- Ende navibereich -->
    
       <div id="textbereich">
    <h1>My blog. - My officially official blog. Yeah, I write a blog.</h1>
    
    <div id="blog">
      <% for (post of posts) { %>
        <a href="/blog/<%= post.slice(0, -3) %>">
          <div class="post">
            <div style="display:none">
              <% var post_view = post.split("-").join(" ");%>
              <% post_view = post_view.substring(0, post_view.indexOf(".md")); %>
            </div>
            <%= post_view.toUpperCase() %> 
             <%-  %>
          </div>
        </a>
      <% } %>
    </div>
    <br /><br />
    </div><!-- Ende textbereich -->
    <div id="fussbereich"></div>
    <!-- Ende fussbereich -->
    <div id="newsbereich"></div>
    <!-- Ende newsbereich -->
    <script>
      $(window).on("load", function () {
        load_content("navibereich", "content-navi.html");
        load_content("newsbereich", "content-news.html");
        load_content("fussbereich", "content-footer.html");
        load_content("kopfbereich", "content-header.html");
      });
    </script>
  </body>
</html>
